<footer>
    <a href="#nav-top" class="btn-top">Back to top</a>
    <div class="grid-container">
        <a href="" class="grid-item1">YelpCamp</a>
        <a href="" class="grid-item2">About</a>
        <a href="https://github.com/aayush1118/YelpCamp" target="_blank" class="grid-item3">GitHub</a>
        <a href="https://www.linkedin.com/in/aayushdev/" target="_blank" class="grid-item4">LinkedIn</a>
        <a href="" class="grid-item5">Your account</a>
    </div>
    <div class="bottom-banner">
        YelpCamp
    </div>
</footer>
</body>
</html>