<%- include ("partials/header") %> 
<div class="container">


    <form class="form-group" id="new-form" action="/login" method="POST">
        <h1 id="new-title">LogIn</h1>
        
        <label class="col-form-label" for="username">username</label>
        <input autofocus class="form-control" type="text" name="username" placeholder="username">
    
        <label class="col-form-label" for="password">password</label>
        <input class="form-control" type="password" name="password" placeholder="password">
    
        <div class="grid-container">
            <button class="btn btn-success">Login</button>
            <a class="btn-light btn" href="javascript:history.back()">Go Back</a>
        </div>
    </form>
</div>


<%- include ("partials/footer") %> 
