<%- include ("partials/header") %> 
<div class="container">
    <!-- user profile card  -->
    <div class="card mt-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/svg/person.svg" class="card-img p-2" alt="User image">
            </div>
            <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title"><%= currentUser.username %></h2>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            </div>
        </div>
    </div>
    <!-- user campgrounds -->

</div>

<%- include ("partials/footer") %>