@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');/* universal */
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    background-color: #f1f1f1;
    font-family: 'Nunito', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23007bff' fill-opacity='0.11'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;   
    height: 100%;
}

/* footer  */
footer{
    background-color: #1f1f1f;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 6.5rem;
}

footer >.grid-container{
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px , 1fr));
    grid-gap: 0.5rem;
    padding: 3rem 0;
    justify-self: center;
    align-content: space-around;

}

footer >.grid-container >a{
    color: #808080;
    text-decoration: none;
}

footer >.btn-top{
    background-color: #2c2c2c;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    transition: all 0.2s;
}

footer >.btn-top:hover{
    background-color: #363636;
}

footer >.bottom-banner{
    color: #585858;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    padding-bottom: 1em;

}
/* classes */
.card .caption{
    padding: 9px;
}
.card{
    padding-bottom: 1em;
    margin-bottom: 1em;

}
.navbar{
    font-family: 'Montserrat', sans-serif;
}
.grid-container .btn:first-child{
    box-shadow:
    0 0.5px 15.8px rgba(0, 0, 0, 0.061),
    0 1.6px 25.3px rgba(0, 0, 0, 0.089),
    0 7px 55px rgba(0, 0, 0, 0.15)  ;

}
.outerJumbotron{
    background-image: url('https://images.pexels.com/photos/3389532/pexels-photo-3389532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position-y: center;
    background-position: right;
}
.jumbotron{
    color: #d8d8d8;
    height: 80vh;
    background: none;
    backdrop-filter: blur(2px) brightness(80%);
}
.jumbotron > h1 , p:last-child{
    color:#fff;
}
/* ids */
#camp-card-title{
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
    background-color: #ffffff;

}

#camp-card a{
    text-decoration: none;
    color: inherit;
    display: block;
}

#camp-card{
    transition: box-shadow 0.4s ;
    padding: 0;
    background-color: #ffffff;
}

#camp-card:hover{
    box-shadow:
    0 0.7px 1.3px  rgba(0, 0, 0, 0.047),
    0 1.6px 5.1px  rgba(0, 0, 0, 0.059),
    0 3px 11.7px   rgba(0, 0, 0, 0.066),
    0 5.4px 22.1px rgba(0, 0, 0, 0.071),
    0 10px 37.8px  rgba(0, 0, 0, 0.077),
    0 24px 72px    rgba(0, 0, 0, 0.1);
}

#new-form{
    max-width: 600px;
    /* width: 50%; */
    background-color: #fff;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    box-shadow:
    0 0.7px 1.3px rgba(0, 0, 0, 0.047),
    0 1.6px 5.1px rgba(0, 0, 0, 0.059),
    0 3px 11.7px rgba(0, 0, 0, 0.066),
    0 5.4px 22.1px rgba(0, 0, 0, 0.071),
    0 10px 37.8px rgba(0, 0, 0, 0.077),
    0 24px 72px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
}

#new-form label{
    padding-bottom: 0;
    font-size: 0.9em;
    padding-left: 0.2em;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #2c2c2c;
}

#new-title{
    font-family: 'Ubuntu', sans-serif;
    color: #808080;
    font-weight: bold;
    padding-left: 0.5em;
}

#new-form .grid-container{
    display: grid;
    grid-template-columns:repeat(2,45%);
    grid-column-gap: 10%;
    align-content: space-around;
    padding: 1em;

}

#nav-username{
    color: #fff;
    padding: .5rem 1rem;
    text-transform: capitalize;   
}

#yelpCampLogo{
    background: #fff;
    color: #007bff;
    padding: .25rem;
    border-radius: .25rem;
    margin: 0 0.5rem;
}

#campDeleteForm{
    display: inline;
}

#commentDelete{
    display: inline;
}

#comments{
    background-color: #ffffff;
}

#comments:nth-child(odd){
    background-color: #f5f5f5;
}

#comments > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#show-img{
    /* max-width: 50vw; */
    object-fit: cover;
}

#show-card{
    /* max-width: 50vw; */
}

#camp-name{
    font-family: 'Ubuntu', sans-serif;
    color: #363636;
}

#comment-text{
    color: #000;
}

#comment-author{
    color: #3d3d3d;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin: 1em 0 0 0;
}

.flash-message >div{
    background-color: white;
    float: right;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Nunito', sans-serif;
    padding: 1rem;
    border-radius: 0.4rem 0 0 0.7rem;
    border: #a0a0a0 2px solid;
    border-right: none;
    margin: 0.5em 0;
    font-size: 1.3em;
    color: #363636;
    /* transform: translateX(100%); */
    animation: flash 1s ease-in-out 3s 1 forwards;
}

.flash-message >.error{
    background-color: #ffe6e8;
}
.flash-message >.success{
    background-color: #e7ffec;
}

@keyframes flash{
    /* 0% {transform: translateX(-100%);}   */
    100%{transform: translateX(100%);}
}
