<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yelpcamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar2">
               <ul class="navbar-nav navbar-right">
                   <li class="nav-item active"><a href="#" class="nav-link">Login</a></li>
                   <li class="nav-item"><a href="#" class="nav-link">SignUp</a></li>
                   <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
               </ul>
            </div>
        </div>
    </nav>

    
