<%- include ("../partials/header") %>
<div class="container">

    <form class="form-group" id="new-form" action="/campgrounds/<%= campground._id %>/comments " method="POST">
        <h2 id="new-title">Add Comment to <%= campground.name %> </h2>
        
        <label class="col-form-label" for="comment[text]">Comment</label>
        <input class="form-control" autofocus type="text" name="comment[text]" placeholder="Text">

        <div class="grid-container">
            <button class="btn btn-success">submit</button>
            <a class="btn-light btn" href="/campgrounds">Go Back</a>
        </div>

    </form>
</div>
<%- include ("../partials/footer") %> 